@import  url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

* { margin: 0;
    padding: 0; 
     border: none;
    }

header { padding-bottom: 20px;}

body { font-family: Source sans pro, serif;
       font-weight:400;
        }

h1, h2 { 
         font-family: Playfair Display, sans-serif;
         font-weight: 400;
        }


#logo { font-size: 250%;
        float: left;
        margin-left: 20px;
        padding-top: 25px;
         }

#nav-menu {
       font-size: 120%;
       letter-spacing: 2px; 
       display: flex; 
       justify-content: flex-end;
       
}

#nav-menu li {
        flex-direction: row; 
        list-style-type: none;
         margin-right: 30px;
          padding-top: 40px;}


          /** Hero image cover text**/

#hero-section {
        position: relative;
        display: flex;
        justify-content: center;
}

#hero-image {
        height: 600px;
        width: 100%;
        background: url('../images/hero-image.jpg') no-repeat center center;
        background-size: cover;  
        
}


#cover-text{ 
        color: #fff;
        width: 300px;
        height: 300px;
        
        position: absolute; 
        background-color: black;

        align-self: center;

        /** Alternate for positioning without flex:  bottom: 50px;
        left: 100px; **/

}

