@import  url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

* { margin: 0;
    padding: 0; 
     border: none;
    }

header { padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;}

header a {flex: 50%;}

body { font-family: Source sans pro, serif;
       font-weight:400;
       color: rgb(64, 64, 64);
        }

h1, h2 { 
         font-family: Playfair Display, sans-serif;
         font-weight: 400;
         color: rgb(64, 64, 64);
        }


#logo { font-size: 250%;
        float: left; 
        margin-left: 20px;
        padding-top: 40px;
         }



#nav-menu {
       font-size: 120%;
       letter-spacing: 2px; 
       display: flex; 
       justify-content: flex-end; 
       padding-top: 40px;
       
}

#nav-menu a:hover {
        background-image: linear-gradient(to top, #141e30, #243b55);
        color: antiquewhite;
        border-radius: 8px;
        padding: 10px;
}

#nav-menu li {
        flex-direction: row; 
        list-style-type: none;
        margin-right: 30px;
        padding-top: 20px;
        }

#nav-menu a {
        text-decoration: none;
        color: rgb(64, 64, 64); }
        

          /** Hero image cover text**/

#hero-section {
        position: relative;
        display: flex;
        justify-content: center; 
}

#hero-image {
        height: 600px;
        width: 100%;
        background: url('../images/hero-image.jpg') no-repeat center center;
         background-size: cover;  
        
}


#cover-text{ 
        color: rgb(64, 64, 64);
        width: auto;
        height: auto;

        padding: 40px;
        
        position: absolute; 
        background-color: rgba(255,204,153, .7);

        align-self: center;
        

        /** Alternate for positioning without flex:  bottom: 50px;
        left: 100px; **/

}

#cover-text h2 {
        font-size: 300%;
        text-align: center;
        padding-bottom: 40px;
}

#cover-text h3 {
        font-size: 150%;
        text-align: center;
}


#welcome-section {
        background-color: rgb(252, 245, 232);
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 40px;
        padding-right: 40px;
}

#welcome-text {
        /** padding-top: 40px;
        padding-bottom: 40px; **/
        text-align: center;
        
        border: 1px solid;
        border-color:rgb(64, 64, 64);
        border-radius: 30px; 
        
}

#welcome-text h1 {
        font-size: 400%;
        padding-bottom:40px;
}

#welcome-text h3 {
        font-size: 150%;
        letter-spacing: 2px;
        font-weight: 400;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
}

.button {
        font-size: 150%;
        font-weight: 600;
        color: white;
        background-image: linear-gradient(to top, #4ca1af, #c4e0e5);
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
}

#button-container {
        margin-bottom: 40px;
        text-align: center;
}



/* Media Queries */ 


@media screen and (max-width: 992px) {
        #nav-menu {
                
              /**  clear: left;
                float: left; **/
                margin-left: 1.25rem;
                line-height: 1rem;
                padding-top: 40px; }
        }
        #welcome-section {
                height:auto;
        }
        
        @media screen and (max-width: 768px) {
                #cover-text h2 {
                        font-size: 150%;
                        padding-bottom: 60px; }
                
                #cover-text h3 {
                        font-size: 100%; }
                
                #nav-menu {
                        padding-top: 0px;
                }
        }