@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

* {
        margin: 0;
        padding: 0;
        border: none;
}

header {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
}

header a {
        flex: 50%;
}

body {
        font-family: Source sans pro, serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
}

h1,
h2 {
        font-family: Playfair Display, sans-serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
}

#logo {
        font-size: 250%;
        float: left;
        margin-left: 20px;
        padding-top: 40px;
}

#nav-menu {
        font-size: 120%;
        letter-spacing: 2px;
        display: flex;
        justify-content: flex-end;
        padding-top: 40px;
}

#nav-menu a:hover {
        background-image: linear-gradient(to top, #728c69, #b2d3c2);
        color: white;
        border-radius: 8px;
        padding: 5px;
}

#nav-menu li {
        flex-direction: row;
        list-style-type: none;
        margin-right: 30px;
        padding-top: 20px;
}

#nav-menu a {
        text-decoration: none;
        color: rgb(64, 64, 64);
}

/** Hero image cover text**/

.hero-section {
        position: relative;
        display: flex;
        justify-content: center;
        height: 600px;
        width: 100%;
        overflow: hidden;
}

#hero-image {
        height: 600px;
        width: 100%;
        background: url('../images/hero-image-min.jpg') no-repeat center center;
        background-size: cover;

        animation-name: hero-zoom;
        animation-duration: 4s;
        animation-fill-mode: forwards;
}

@keyframes hero-zoom {
        from {
                transform: scale(1);
        }

        to {
                transform: scale(1.1);
        }
}

.cover-text {
        color: rgb(64, 64, 64);
        width: auto;
        height: auto;

        padding: 40px;

        position: absolute;
        background-color: rgba(255, 204, 153, .7);

        align-self: center;
}

.cover-text h2 {
        font-size: 300%;
        text-align: center;
        padding-bottom: 40px;
}

.cover-text h3 {
        font-size: 150%;
        text-align: center;
}


#welcome-section {
        background-color: rgb(252, 245, 232);
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 40px;
        padding-right: 40px;
}

#welcome-text {
        /** padding-top: 40px;
        padding-bottom: 40px; **/
        text-align: center;

        border: 1px solid;
        border-color: rgb(64, 64, 64);
        border-radius: 30px;
}

#welcome-text h1 {
        font-size: 400%;
        padding-bottom: 40px;
}

#welcome-text h3 {
        font-size: 150%;
        letter-spacing: 2px;
        font-weight: 400;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
}

.button {
        font-size: 150%;
        font-weight: 600;
        color: white;
        background-image: linear-gradient(to top, #4ca1af, #c4e0e5);
        border-radius: 10px;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
}

.button-container {
        margin-bottom: 40px;
        text-align: center;
}

.button-container a:hover {
        background-color: #728c69;
        background-image: none;
        padding: 12px 22px 12px 22px;
}

#flip-card-section {
        background-color: #daeff0;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        box-sizing: border-box;
}

#flip-card-heading {
        font-size: 400%;
        padding-bottom: 100px;
}

.flip-cards-flexcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.outter-container {
        width: 350px;
        height: 500px;
}

.outter-container:hover>.flip-card {
        transform: rotateY(180deg);
        cursor: pointer;
}

.outter-container:focus-within>.flip-card {
        transform: rotateY(180deg);
        cursor: pointer;
}

.flip-card {
        height: 100%;
        width: 100%;
        position: relative;
        transition: transform .8s;
        transform-style: preserve-3d;
}

.front,
.back {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 5px 3px rgba(50, 50, 50, .25);
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
}

#card-one-front {
        background-image: url(/assets/images/flip-card-A-min.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
}

#card-two-front {
        background-image: url(/assets/images/flip-card-B-min.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
}

.back {
        background-color: #ffdde1;
        transform: rotateY(180deg);
}

.back h2 {
        font-size: 200%;
        padding: 20px;
        letter-spacing: 1px;
}

.back p {
        font-size: 120%;
        padding-left: 20px;
        padding-right: 20px;
}

.back a {
        font-weight: bold;
        color: rgb(64, 64, 64);
        text-decoration: none;
}

.back a:hover {
        text-decoration: underline;
}

#reviews-section {
        background-color: rgb(252, 245, 232);
        padding-top: 100px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
}

#reviews-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        padding-bottom: 50px;
}

.review {
        padding-left: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
}

.review p {
        text-align: left;
        font-size: 120%;
        padding-top: 20px;
        font-weight: 400;
}

#footer {
        background-color: rgb(252, 245, 232);
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
}

#section-break {
        border: solid antiquewhite 4px;
        width: 100%;
        margin: 0 auto;

}

#footer-main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

}

#footer a {
        color: rgb(64, 64, 64);
        text-decoration: none;
}

#footer a:hover {
        font-size: 150%;
        color: #728c69;
}

#footer-address a:hover {
        font-size: 110%;
}

#footer-contact a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-size: 120%;


}

#map-email-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20%;
        padding-top: 10px;
        font-size: 100%;
}

#social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;


}

#social-links li {
        list-style-type: none;
        display: inline;
        font-size: 120%;
        padding-right: 1.5rem;
}

/**Menu Page CSS **/


.menu-hero-section {
        display: flex;
        justify-content: center;
        position: relative;
}

#menu-img {
        height: 300px;
        width: 100%;
        background: url('../images/mountain-grass-min.jpg') no-repeat center center;
        background-size: cover;
}

#menu-hero-text {
        position: absolute;
        align-self: center;
        font-size: 300%;

}

#menu-hero-text h2 {
        color: #f9f6f0;
        padding-top: 150px;
}

.menu-main-section {
        background-color: rgb(252, 245, 232);
        padding-top: 60px;
        padding-bottom: 100px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        font-size: 120%;
        letter-spacing: 1px;
}

.menu-main-section p {
        padding-top: 20px;
        padding-bottom: 40px;
}

.menu-panels {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
}

.menu-box {

        width: 25%;
        background-color: #ddead1;
        border-radius: 30px;
        box-shadow: 0 0 5px 3px rgba(50, 50, 50, .25);
        align-self: flex-start;
}

.menu-box-text {
        width: 90%;
        margin: 0 auto;
}

#note {

        font-size: 80%;
        font-weight: 600;
        font-style: italic;

}

.menu-box-text h2 {
        padding-top: 2%;
        font-weight: 600;
        font-size: 150%;
        text-align: left;
}

.menu-box-text hr {
        height: 2px;

        border: solid #141e30;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        padding-bottom: 10px;

}

.list-item {
        padding-top: 2px;
        text-align: left;
}

.list-item p {
        padding-top: 8px;
        font-size: 80%;
        font-weight: 600;
}

.title {

        display: inline;
        text-align: left;
}

.price {

        display: inline;
        text-align: right;
        float: right;
}

#menu-box-three {
        padding-bottom: 20px;
}

#menu-box-three .list-item {
        padding-bottom: 6px;
}

#menu-box-three p {
        font-size: 80%;
        font-weight: 600;
        font-style: italic;
        padding-top: 40px;
}

.link-section {
        background-color: rgb(252, 245, 232);

        padding-bottom: 80px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        font-size: 120%;
        letter-spacing: 1px;
}

.link-section a {
        color: rgb(64, 64, 64);
        text-decoration: none;
}

.link-section a:hover {
        font-size: 110%;
        color: #728c69;
}

/** CSS for contact page **/

.contact-section {

        position: relative;
        width: 100%;
        background: url('../images/cliffs-ocean-min.jpg') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 100px;
        padding-right: 100px;

}

.contact-content-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-evenly;

        width: 80%;
}

.contact-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        gap: 40px;
}

.contact-info,
.contact-form {

        background-color: rgba(50, 50, 50, .8);
        height: auto;
        color: #f9f6f0;
        padding: 60px 20px;
        letter-spacing: 1px;
}

.contact-info h2,
.contact-form h2 {
        color: #f9f6f0;
        padding-bottom: 20px;
        padding-top: 20px;
}

.contact-info h3,
.contact-form h3 {
        color: #f9f6f0;
        padding-bottom: 20px;
}

.contact-main h1 {
        color: #f9f6f0;

}

.contact-main hr {
        width: 90%;
        border: solid 1px #f9f6f0;
        margin: 2px;
}

#address h3 {
        padding-bottom: 0;
}

#form-note {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
}

.contact-info {
        width: 30%;

}

.contact-form {
        width: 60%;
}

.contact-map {
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        width: 100%;
}

.mapouter {
        position: relative;
        text-align: center;
        height: 500px;
}

.gmap_canvas {
        overflow: hidden;
        background: none !important;


}

#gmap_canvas {
        width: 100%;
        height: 600px;

}

.contact-form-inner label {
        padding-bottom: 6px;
        padding-top: 10px;
        display: block;
        font-weight: bold;
        font-size: 1.17em;
        font-family: Source sans pro, serif;
}

.contact-form-inner input {
        height: 1.3rem;
        width: 40%;
        border-radius: 5px;
}

.contact-form-inner textarea {
        width: 60%;
        border-radius: 8px;
        font-family: Source sans pro, serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
        font-size: 120%;
}

#submit {
        margin-top: 40px;
        height: 2rem;
        width: 6rem;
        font-family: Source sans pro, serif;
        font-weight: 600;
        color: rgb(64, 64, 64);
        font-size: 120%;
        cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1300px) {

        .menu-box {
                width: 30%;
        }

        .title,
        .price {
                font-size: 85%;
                text-decoration: underline;
        }

        #menu-box-three h3 {
                text-decoration: none;
        }
}

@media screen and (max-width: 992px) {
        #nav-menu {

                /**  clear: left;
                float: left; **/
                margin-left: 1.25rem;
                line-height: 1rem;
                padding-top: 40px;
        }

        #welcome-section {
                height: auto;
        }

        #flip-card-heading {
                font-size: 300%;
        }

        .flip-cards-flexcontainer {
                flex-direction: column;
        }

        #fc-media-query {
                padding-bottom: 40px;
        }

        .menu-panels {
                flex-direction: column;
                gap: 40px;
        }

        .menu-box {
                align-self: center;
                width: 90%;
        }

        .title,
        .price {
                font-size: 1.17em;
                text-decoration: none;
        }

        .contact-content-container {
                width: 90%;
        }

        .contact-form-inner input {
                width: 60%;
        }

        .contact-form-inner textarea {
                width: 70%;
        }
}

@media screen and (max-width: 768px) {
        .cover-text h2 {
                font-size: 150%;
                padding-bottom: 60px;
        }

        .cover-text h3 {
                font-size: 100%;
        }

        #reviews-container {
                flex-direction: column;
        }

        #menu-hero-text {
                font-size: 200%;
        }

        #logo {
                font-size: 200%;
        }

        .contact-main {
                flex-direction: column-reverse;

        }

        .contact-info,
        .contact-form {
                width: 90%;
        }
}

@media screen and (max-width: 600px) {

        #welcome-text h1 {
                font-size: 200%;
        }

        #welcome-text h3 {
                font-size: 100%;
        }

        #flip-card-heading {
                font-size: 200%;
        }

        .outter-container {
                width: 300px;
                height: 400px;
        }

        .back h2 {
                font-size: 100%;
                padding: 20px;
                letter-spacing: 1px;
        }

        .back p {
                font-size: 100%;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;

        }

        #footer-main {
                justify-content: space-between;
                flex-flow: wrap;
                font-size: 80%;

        }

        #menu-hero-text {
                font-size: 120%;
        }
}

@media screen and (max-width: 583px) {

        #nav-menu {
                padding-top: 0;
        }
}

@media screen and (max-width: 480px) {

        .title,
        .price {
                font-size: 85%;
                text-decoration: underline;
        }

        #menu-box-three h3 {
                text-decoration: none;
        }

        #nav-menu {
                padding-top: 0px;
        }

        .contact-section {
                padding-left: 10px;
                padding-right: 0;
        }

}